*{
    padding: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

.userData{
    background-color: #ffd2c7;
}

.adminLogin{
    background-color: #406f85;
    box-shadow: 2px 1px 3px black;
}

.accessButton{
    background-color: #78a5ca;
}

.helloUser{
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.signupLink{
    text-decoration: none;
    font-weight: bold;
}

.warning{
    color: crimson;
    font-weight: 600;
}

.userHead{
    background-color: #406f85;
    box-shadow: 1px 1px 1px;
}

.userDataHead{
    border: 2px double  black;

}

.addButton{
    color: #406f85 !important;
    border: 2px solid #406f85 !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 1px !important;
}

.userLogout{
    background-color: #c00020 !important;
    color: white !important;
    box-shadow: 1px 1px 1px black;
}

.updateButton{
    background-color: #016342 !important;
    color: white !important;
    border-radius: 10px !important;
}

.deleteButton{
    background-color: #d33b54 !important;
    color: white !important;
    border-radius: 10px !important;
}

.pageData{
    background-color: #95b5c4;
    border-bottom: 1px solid grey;
}

.pageContainer{
    /* overflow-y: scroll;
    overflow-x: hidden; */
    height: 70vh;
}

.pagedesc{
    font-size: small;
}

.addbackGround{
    background-color: #73a3b9;
}

.headSection{
    border-bottom: 1px solid grey;
}